<style scoped>
    .bread-segment {
        margin-bottom: 10px;
        background: none;
        box-shadow: none;
        border: none;
    }
</style>

<template>

<div class="ui container center aligned animated fadeIn">

	<div class="ui stackable center aligned four column grid">
		<div class="column">
			<div class="ui teal segment orange" >
				<i class="circular home icon big orange"></i>
				<br />
				<br />
				<br />
				<div class="ui bottom attached label orange">
					HOME
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui teal segment teal  ">
				<i class="circular bell outline icon big teal"></i>
				<br />
				<br />
				<br />
				<div class="ui bottom attached label teal">
					HOME
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui teal segment blue">
				<i class="circular mail outline icon big blue"></i>
				<br />
				<br />
				<br />
				<div class="ui bottom attached label blue">
					HOME
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui teal segment green ">
				<i class="circular bell outline icon big green"></i>
				<br />
				<br />
				<br />
				<div class="ui bottom attached label green">
					HOME
				</div>
			</div>
		</div>
	</div>

	<div class="ui two column grid">
		<div class="column">
			<div class="ui segment blue">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
		<div class="column">
			<div class="ui segment green">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>

</div>

</template>


<script>
    export default {
        name: 'dashboard',
        data() {
            return {
                pagename: 'About'
            }
        }
    }
</script>