<style scoped>
.masonry.grid {
	display: block;
}

@media only screen and (min-width: 768px) {
	.masonry.grid {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}
	.ui.doubling.masonry.grid[class*="three column"]>.column {
		width: 100% !important;
	}
}

@media only screen and (min-width: 992px) {
	.masonry.grid {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
}
</style>

<template>
	<div class="ui container animated fadeIn">
		<div class="ui three column doubling stackable masonry grid">
			<div class="column">
				<div class="ui fluid card">
					<div class="image"></div>
					<div class="content">
						<a class="header">Kristy</a>
						<div class="meta">
							<span class="date">Joined in 2013</span>
						</div>
						<div class="description">
							Kristy is an art director living in New York.
						</div>
					</div>
					<div class="extra content">
						<a>
							<i class="user icon"></i> 22 Friends </a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<div class="right floated meta">
							14h
						</div>
						<img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg"> Elliot
					</div>
					<div class="image">
						<img src="http://semantic-ui.com/images/wireframe/image.png" class="ui wireframe image">
					</div>
					<div class="content">
						<span class="right floated">
							<i class="heart outline like icon"></i> 17 likes </span>
						<i class="comment icon"></i> 3 comments
					</div>
					<div class="extra content">
						<div class="ui large transparent left icon input">
							<i class="heart outline icon"></i>
							<input placeholder="Add Comment..." type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<img class="right floated mini ui image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
						<div class="header">
							Elliot Fu
						</div>
						<div class="meta">
							Friends of Veronika
						</div>
						<div class="description">
							Elliot requested permission to view your contact details
						</div>
					</div>
					<div class="extra content">
						<div class="ui two buttons">
							<div class="ui basic green button">
								Approve
							</div>
							<div class="ui basic red button">
								Decline
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<!-- <img class="right floated mini ui image" src="http://semantic-ui.com/images/avatar/large/jenny.jpg"> -->
						<div class="header">
							Jenny Hess
						</div>
						<div class="meta">
							New Member
						</div>
						<div class="description">
							Jenny wants to add you to the group
							<b>best friends</b>
						</div>
					</div>
					<div class="extra content">
						<div class="ui two buttons">
							<div class="ui basic green button">
								Approve
							</div>
							<div class="ui basic red button">
								Decline
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="image">
						<!-- <img src="http://semantic-ui.com/images/avatar2/large/matthew.png"> -->
					</div>
					<div class="content">
						<div class="header">
							Matt Giampietro
						</div>
						<div class="meta">
							<a>Friends</a>
						</div>
						<div class="description">
							Matthew is an interior designer living in New York.
						</div>
					</div>
					<div class="extra content">
						<span class="right floated"> Joined in 2013 </span>
						<span>
							<i class="user icon"></i> 75 Friends </span>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<div class="header">
							Project Timeline
						</div>
					</div>
					<div class="content">
						<h4 class="ui sub header">Activity</h4>
						<div class="ui small feed">
							<div class="event">
								<div class="content">
									<div class="summary">
										<a>Elliot Fu</a> added
										<a>Jenny Hess</a> to the project
									</div>
								</div>
							</div>
							<div class="event">
								<div class="content">
									<div class="summary">
										<a>Stevie Feliciano</a> was added as an
										<a>Administrator</a>
									</div>
								</div>
							</div>
							<div class="event">
								<div class="content">
									<div class="summary">
										<a>Helen Troy</a> added two pictures
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="extra content">
						<button class="ui button">
							Join Project
						</button>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<div class="header">
							Veronika Ossi
						</div>
						<div class="meta">
							Friend
						</div>
						<div class="description">
							Veronika Ossi is a set designer living in New York who enjoys kittens, music, and partying.
						</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui fluid card">
					<div class="content">
						<div class="header">
							Cute Dog
						</div>
						<div class="meta">
							<span>2 days ago</span>
							<a>Animals</a>
						</div>
						<p></p>
						<img class="ui wireframe image" src="http://semantic-ui.com/images/wireframe/paragraph.png">
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>
export default {
	name: 'mas-layout',
	data() {
		return {
			pagename: 'About'
		}
	}
}
</script>